* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.wrapper{
    background: bisque;
}

.container {
    max-width: 1030px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    height: 100vh;
}

.books {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3 - 14px);
    min-height: 220px;
    height: auto;
    margin: 7px;
    padding: 12px 8px;
}

.top_box{
    background: yellow;
}

.center_box {
    font-size: 18px;
    background: aqua;
}

.bottom_box {
    font-size: 14px;
    background: #2be27d;
}

.books_cover{
    display: inline-flex;
    flex: 0 0 auto;
    width: 160px;
    height: 200px;
    object-fit: fill;
}



@media screen and (max-width: 1000px) {
    .box{
        width: calc(100% / 3 - 14px);
    }
}


@media screen and (max-width: 768px) {
    .box{
        width: calc(100% / 2 - 14px);
    }
}


@media screen and (max-width: 576px) {
    .box {
        width: calc(100% - 14px);
    }
}