* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background: bisque;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.container {
    max-width: 1030px;
    width: 100%;
    margin: auto;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    width: 100%;
    min-height: 200px;
    height: auto;
    margin: 7px;
    padding: 10px;
}

.top_box {
    background: yellow;
}

.center_box {
    font-size: 18px;
    background: aqua ;
}

.bottom_box {
    font-size: 14px;
    text-align: center;
    background: rgb(43, 226, 125);
}

.books_cover {
    width: 160px;
    height: 200px;
}


