<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О чем я говорю, когда говорю о беге</title>
    <link rel="stylesheet" href="../css/run.css">
</head>
<body>
    <div class="container">
        <div class="content-box">
            <div class="left_box">
                <div class="box books_cover"></div>
                <div class="box button_back"></div>
            </div>
            <div class="right_box"></div>
        </div>
    </div>

    
</body>
</html>